{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2>添加一个新的联系方式到项目</h2>
    </div>

    <div class="container">

        <div class="row">

            <div class="col-md-6">

                <div class="page-header">
                    <h3>创建新的联系人</h3>
                </div>
                {{ form(form) }}

            </div>

            <div class="col-md-6">
                <div class="page-header">
                    <h3>从现有联系人中添加</h3>
                </div>
                {{ form(select_form) }}

            </div>


        </div>

    </div>


{% endblock %}


