{% extends "SimAppBundle::layouts.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron">
                <h2>创建一个客户</h2>
            </div>

            {{ form(form) }}

        </div>
    </div>


{% endblock %}