{% extends "SimAppBundle::layouts.html.twig" %}

{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}

    <div class="jumbotron">
        <h2>创建一个联系方式</h2>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8">

                {{ form(form) }}

            </div>
        </div>
    </div>
{% endblock %}


