{% if notes | length > 0 %}
<section data-collection-name="calendar_events">

    <article class="note">
        <div class="note_body">
            <h1>Upcoming Events</h1>
            <ul class="project_dates">
                {% for note in notes %}
                <li>
                    <a href="{{ url('view_note' , {'id' : note.id}) }}">{{ note.subject }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="more_events"><a href="{{ url('list_of_notes') }}" class="decorated">All upcoming events...</a></p>
        </div>
    </article>

</section>
{% endif %}