{% extends "SimAppBundle::layouts.html.twig" %}


{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
<div class="jumbotron">
        <h2>创建一个项目</h2>
    </div>
            <div class="page-header">
                <h1>(1)创建一个事件

                    <small>

                    </small>

                </h1>
            </div>

        </div>
        <div class="col-md-8">

            {{ form(form) }}
        </div>

        <div class="col-md-4">

        </div>

    </div>

{% endblock %}
