{% extends "SimAppBundle::layouts.html.twig" %}


{% block title %}SimAppBundle:Linkman:home{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
<div class="jumbotron">
        <h2>{{ 'twig.event.create.create_a_project' | trans | raw }}</h2>
    </div>
            <div class="page-header">
                <h1>(1){{ 'twig.event.create.write_down' | trans | raw }}

                    <small>

                    </small>

                </h1>
            </div>

        </div>
        <div class="col-md-8">

            {{ form(form) }}
        </div>

        <div class="col-md-4">

        </div>

    </div>

{% endblock %}
