<html><head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Underscore.js</title>

</head>
<body>

{% block body %}
{% endblock %}

<!-- Include Underscore, so you can play with it in the console. -->
<script type="text/javascript" src="{{ asset('jquery.js') }}"></script>
<script type="text/javascript" src="{{ asset('underscore.js') }}"></script>
<script type="text/javascript" src="{{ asset('backbone.js') }}"></script>



{% block backbone %}{% endblock %}


</body>
</html>